@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Nunito", sans-serif;

    outline: none;

    margin: 0;
}

body {
    background-color: #a0a0a0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    color: #000;

    box-sizing: border-box;
    border: 1.5px solid;

    width: 100%;
}

/*Primer header*/
.CarWap {
    text-align: center;
    background: #000000;
}

.CarWap h1 {
    padding: 0 50px 0 10px;
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
}

/*Segundo header*/
.header {
    display: flex;
    justify-content: center;

    background-color: #6f7357;

    height: 80px;

    padding: 0;
    margin: 0;
}

/*BARRA DE NAVEGACION*/

.espacio-extra {
    width: 0;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: 80px;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

.nav .a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;

    border: 0 solid;

    outline: none;

    text-decoration: none;

    margin: 0 5px 0 0;
    padding: auto;

    color: #FFFFFF;

    font-size: 17px;

    transition: all 0.3s;
}

.Usuario-Container {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.Usuario-Container .a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;

    border: 0 solid;

    outline: none;

    text-decoration: none;

    margin: 0 5px 0 0;
    padding: auto;

    color: #FFFFFF;

    font-size: 17px;

    transition: all 0.3s;
}

.a:hover {
    background: #000000;

    transform: scale(1.1);
}


/*Formulario*/
.Clase-FormularioContenedor {
    background: #FFFFFF;

    width: 800px;
    height: auto;

    margin: 10px auto;

    box-sizing: border-box;
    border: 3px solid;
    border-radius: 15px;

    overflow: hidden;
}

.Clase-FormularioContenedor .contexto {
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
}

.Clase-Formulario {
    width: 90%;
    height: 90%;

    display: flex;
    justify-content: center;

    margin: 0 auto;
}

.Clase-Formulario .InputGroup {
    width: 100%;
    height: auto;

    overflow: hidden;
}

.InputGroup .Group-1 {
    overflow: hidden;
}

.Group-1 .SubGroup {
    display: flex;

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: 35px;

    margin: 10px auto;
}

.Group-1 .label {
    font-size: 20px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #6f7357;
}

.Group-1 .input {
    font-size: 20px;

    width: 100%;

    box-sizing: border-box;
    border: 0px solid;
    border-radius: 5px;

    background: #FFFFFF;
}

.Despegable {
    display: flex;

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: 35px;

    margin: 10px auto;
}

.labelMV {
    font-size: 20px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #6f7357;
}

.selectMV {
    font-size: 20px;

    width: 100%;

    box-sizing: border-box;
    border: 0px solid;
    border-radius: 5px;

    text-align: center;

    background: #FFFFFF;
}

.sectionEdV {
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: auto;

    margin: 10px auto;
}

.labelEdV {
    font-size: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #6f7357;
}

.RadioOpciones {
    display: flex;
    align-items: center;

    width: 100%;
    height: 45px;

    overflow: hidden;
}

.labelRadioEdV {
    width: 100%;

    display: flex;
    justify-content: center;
    text-align: center;
}

.sectionKm {
    display: flex;

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: 35px;

    margin: 10px auto;
}

.labelKm {
    font-size: 20px;
    width: 115px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background: #6f7357;
}

.inputKm {
    font-size: 20px;

    width: 100%;

    box-sizing: border-box;
    border: 0px solid;
    border-radius: 5px;

    text-align: end;

    background: #FFFFFF;
}

.sectionYear {
    display: flex;

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: 35px;

    margin: 10px auto;
}

.labelYear {
    font-size: 20px;
    width: 115px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background: #6f7357;
}

.inputYear {
    font-size: 20px;

    width: 100%;

    box-sizing: border-box;
    border: 0px solid;
    border-radius: 5px;

    text-align: end;

    background: #FFFFFF;
}

.sectionColor {
    display: flex;

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: 35px;

    margin: 10px auto;
}

.labelColor {
    font-size: 20px;
    width: 115px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background: #6f7357;
}

.inputColor {
    font-size: 20px;

    width: 100%;

    box-sizing: border-box;
    border: 0px solid;
    border-radius: 5px;

    text-align: end;

    background: #FFFFFF;
}

.sectionPrecio {
    display: flex;

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: 35px;

    margin: 10px auto;
}

.labelPrecio {
    font-size: 20px;
    width: 115px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background: #6f7357;
}

.inputPrecio {
    font-size: 20px;

    width: 100%;

    box-sizing: border-box;
    border: 0px solid;
    border-radius: 5px;

    text-align: end;

    background: #FFFFFF;
}

.sectionMatricula {
    display: flex;

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: 35px;

    margin: 10px auto;
}

.labelMatricula {
    font-size: 20px;
    width: 115px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background: #6f7357;
}

.inputMatricula {
    font-size: 20px;

    width: 100%;

    box-sizing: border-box;
    border: 0px solid;
    border-radius: 5px;

    text-align: end;

    background: #FFFFFF;
}

.sectionAseguradora {
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: auto;

    margin: 10px auto;
}

.labelAseguradora1 {
    font-size: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #6f7357;
}

.RadioBtn {
    display: flex;

    width: 500px;


    margin: 10px auto;
}

.labelAseguradora2 {
    width: 100%;

    display: flex;
    justify-content: center;
    text-align: center;

    overflow: hidden;
}

.Comments {
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: auto;

    margin: 10px auto;

    overflow: hidden;
}

.sectionLabel {
    font-size: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #6f7357;
}

.textArea {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    border: 0 solid;

    padding: 0 5px;

    font-size: 20px;
}

.sectionSubirIMG {
    display: flex;

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;

    width: 500px;
    height: 35px;

    margin: 10px auto;
}

.labelImgV {
    font-size: 15px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background: #6f7357;
}

.inputImgV {

    font-size: 15px;

    width: 100%;
    height: auto;

    box-sizing: border-box;
    border: 0px solid;
    border-radius: 5px;

    margin: 4px 0px;

    padding: 0 3%;
}

.sectionEnviar {
    display: flex;
    justify-content: center;

    width: 500px;
    height: auto;

    margin: 10px auto;
}

.inputEnviar {
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 5px;

    width: 150px;
    height: 30px;

    font-size: 20px;

    background: #6f7357;

    color: #ffffff;
}

/*Footer*/
.footer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    margin: 0 auto;

    background: #6f7357;

    overflow: hidden;
}

.DerechosDeAutor {
    margin: 10px 0;
    display: flex;
    justify-content: center;

    color: #FFFFFF;
}

.UL {
    list-style: none;

    margin: 0 auto;
    padding: 0;
}

.UL li {
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;

    margin: 5px 0;
}

.UL a {
    color: #FFFFFF;
    text-decoration: none;
}

.UL a:hover {
    color: #759eff;
}