@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Nunito", sans-serif;

    outline: none;
}


body {
    background: #B8BCB9;
    height: auto;
    padding: 0;
    margin: 0;
}

/*Primer header*/
.CarWap {
    text-align: center;
    background: #000000;
}

.CarWap h1 {
    padding: 0 50px 0 10px;
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
}

/*Segundo header*/
.header {
    display: flex;
    justify-content: center;

    background-color: #6f7357;

    height: 80px;

    padding: 0;
    margin: 0;
}

/*BARRA DE NAVEGACION*/

.espacio-extra {
    width: 0;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: 80px;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

.nav .a
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;

    border: 0 solid;

    outline: none;

    text-decoration: none;

    margin: 0 5px 0 0;
    padding: auto;

    color: #FFFFFF;

    font-size: 17px;

    transition: all 0.3s;
}

.Usuario-Container
{
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.Usuario-Container .a
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;

    border: 0 solid;

    outline: none;

    text-decoration: none;

    margin: 0 5px 0 0;
    padding: auto;

    color: #FFFFFF;

    font-size: 17px;

    transition: all 0.3s;   
}

.a:hover {
    background: #000000;

    transform: scale(1.1);
}

/*Informacion Usuario*/

/*Contenido principal de la pagina*/

/*Slider*/

.slider-Container
{
    display: flex;
    margin: 15px auto;

    width: 95%;
    height: 500px;

    overflow: hidden;

    border-radius: 15px;

    transition: left ;
}

.slider-item
{
    display: flex;

    width: 100%;
    height: 100%;

    position: relative;
}

.slider-item .Imagen
{
    width: 300vh;
    object-fit: cover;
}

.slider-text
{
    position: absolute;

    margin: 10px;

    bottom: 10px;

    color: #fff;
}

/*Linea horizontal*/
hr

{
    width: 90%;
    height: 5px;

    background: #000;

    border: 0 solid;

    margin: 1px auto;
}

/*Cuadro Productos*/
.CuadroProduct
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 90%;

    margin: 15px auto 30px;
}

.Cuadro
{
    width: 375px;
    height: 400px;

    margin: 0 auto;

    background: #666;

    border-radius: 15px;

    overflow: fixed;

    cursor: pointer;

    transition: all 0.5s;
}

.Cuadro:hover
{
    transform: scale(1.05);
}

.Cuadro .CuadroImagen
{
    display: block;

    width: 90%;
    height: 70%;

    object-fit: cover;
    aspect-ratio: 16/9;

    border-radius: 15px;

    margin: 15px auto 10px;
}

.Cuadro .CuadroTexto
{
    color: #fff;

    padding: 10px;

    display: flex;
    justify-content: center;

    margin: 0;
}



/*Contenido*/
.Contenido-Productos
{
    display: flex;

    justify-content: space-between;
    border-radius: 15px;

    width: 90%;

    margin: 0 auto;
}

.Contenido-Productos h1
{
    display: flex;
    justify-content: center;

    margin: 10px 0 0 0;
}

.Contenido-Btn
{
    display: flex;
    align-items: center;

    margin: 5px 0;
}

.Contenido-Btn .Btn
{
    width: 100px;
    height: 80%;

    box-sizing: border-box;
    border: 0 solid;

    background: #4fa8fb;

    cursor: pointer;

    transition: all 0.3s;

    border-radius: 10px;
}

.Btn:hover
{
    transform: scale(1.1);
}


/*Productos*/
.Productos
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

    width: 90%;

    margin: 10px auto;
}

.Productos .Product-Item
{
    width: 350px;
    height: 250px;
    
    margin: 15px auto;

    background: #666666;

    border-radius: 5px;

    cursor: pointer;

    transition: all 0.5s;
}

.Product-Item .Product-IMG
{
    display: flex;
    width: 90%;

    border-radius: 5px;

    margin: 10px auto;
}

.Product-Item .Descripcion
{
    color: #FFFFFF;
    font-size: 25px;

    margin: 0 10px;
}

.Productos .Product-Item:hover
{
    transform: scale(1.1);
}

/*Productos extra*/
#Product-JS
{
}

.Product-JS
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

    width: 90%;

    margin: 10px auto;
}

.Product-JS .Product-ItemExtra
{
    width: 350px;
    height: 250px;
    
    margin: 15px auto;

    background: #666666;

    border-radius: 5px;

    cursor: pointer;

    transition: all 0.5s;
}

.Product-ItemExtra .Product-IMG
{
    display: flex;
    width: 90%;

    border-radius: 5px;

    margin: 10px auto;
}

.Product-ItemExtra .Descripcion
{
    color: #FFFFFF;
    font-size: 25px;

    margin: 0 10px;
}

.Product-JS .Product-ItemExtra:hover
{
    transform: scale(1.1);
}

.footer
{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    margin: 0 auto;

    background: #6f7357;

    overflow: hidden;
}

.DerechosDeAutor
{
    margin: 10px 0;
    display: flex;
    justify-content: center;

    color: #FFFFFF;
}

.UL
{
    list-style: none;

    margin: 0 auto;
    padding: 0;
}

.UL li
{
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;

    margin: 5px 0;
}

.UL a
{ 
    color: #FFFFFF; 
   text-decoration: none;
}

.UL a:hover
{
    color: #759eff;
}
