@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Nunito", sans-serif;

    outline: none;
}


body {
    background: linear-gradient(180deg, #ff0534, #fff);
    height: auto;
    padding: 0;
    margin: 0;
}

/*Primer header*/
.CarWap {
    text-align: center;
    background: #000000;
}

.CarWap h1 {
    padding: 0 50px 0 10px;
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
}

/*Segundo header*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #491d88;

    height: 80px;

    padding: 0;
    margin: 0;
}

/*BARRA DE NAVEGACION*/

.espacio-extra {
    width: 0;
    padding: 0;
    margin: 0;
}

.nav {
    font-size: 20px;

    display: inline-block;

    list-style: none;
    margin: 0;
    margin: 0;

    cursor: pointer;
}

.nav a {
    color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;

    transition: all 0.8s;

    margin: 0px 10px;
    padding: 0px 10px;
}

.nav a:hover {
    background: #000000;
}

/*Informacion Usuario*/

/*Contenido principal de la pagina*/

/*Slider*/

.slider-Container
{
    display: flex;
    margin: 15px auto;

    width: 90%;
    height: 500px;

    overflow: hidden;

    transition: left ;
}

.slider-item
{
    display: flex;

    width: 100%;
    height: 100%;

    position: relative;
}

.slider-item .Imagen
{
    width: 300vh;
    object-fit: cover;


}

.slider-text
{
    position: absolute;
}

/*Linea horizontal*/
hr
{
    width: 90%;
    height: 5px;

    background: #000;

    border: 0 solid;

    margin: 1px auto;
}

/*Cuadro Productos*/
.CuadroProduct
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 90%;

    margin: 10px auto;

    overflow: auto;
}

.Cuadro
{
    width: 375px;
    height: 400px;

    margin: 0 auto;

    background: #000;

    border-radius: 15px;

    overflow: fixed;
}

.Cuadro .CuadroImagen
{
    display: block;

    width: 90%;
    height: 70%;

    aspect-ratio: 16/9;

    border-radius: 15px;

    margin: 15px auto;
}

.Cuadro .CuadroTexto
{
    color: #fff;
}

/*Contenido*/
.Tema-Productos
{
    border-radius: 15px;

    width: 90%;

    margin: 0 auto;
}

.Tema-Productos h1
{
    margin: 5px;
}

.Tema-Productos1
{
    border-radius: 15px;

    width: 90%;

    margin: 0 auto;
}

.Tema-Productos h1
{
    margin: 5px;
}

/*Productos*/
.Productos
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

    width: 90%;

    margin: 10px auto;

}

.Productos .Product-Item
{
    width: 350px;
    height: 250px;
    
    margin: 15px auto;

    background: #000;

    border-radius: 5px;

    cursor: pointer;

    transition: all 0.5s;
}

.Product-Item .Product-IMG
{
    display: flex;
    width: 90%;

    border-radius: 5px;

    margin: 10px auto;
}

.Product-Item .Descripcion
{
    color: #FFFFFF;

    padding: 5px;
}

.Productos .Product-Item:hover
{
    transform: scale(1.1);
}

/*Productos extra*/
#Product-JS
{
    display: none;
}

.Productos .Product-ItemExtra
{
    width: 350px;
    height: 250px;
    
    margin: 15px auto;

    background: #000;

    border-radius: 5px;

    cursor: pointer;

    transition: all 0.5s;
}

.Product-ItemExtra .Product-IMG
{
    display: flex;
    width: 90%;

    border-radius: 5px;

    margin: 10px auto;
}

.Product-ItemExtra .Descripcion
{
    color: #FFFFFF;

    padding: 5px;
}

.Productos .Product-ItemExtra:hover
{
    transform: scale(1.1);
}