@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Nunito", sans-serif;
}


body {
    background: linear-gradient(150deg, #000117, #491d88);
    height: 100vh;
    padding: 0;
    margin: 0;
}

/*Primer header*/
.CarWap {
    text-align: center;
    background: #000000;
}

.CarWap h1 {
    padding: 0 10px 0 10px;
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
}

/*Segundo header*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #491d88;

    height: 80px;

    padding: 0;
    margin: 0;
}

/*BARRA DE NAVEGACION*/

.espacio-extra {
    width: 0;
    padding: 0;
    margin: 0;
}

.nav {
    font-size: 20px;

    display: inline-block;

    list-style: none;
    margin: 0;
    margin: 0;

    cursor: pointer;
}

.nav a {
    color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;

    transition: all 0.8s;

    margin: 0px 10px;
    padding: 0px 10px;
}

.nav a:hover {
    background: #000000;
}

/*Informacion Usuario*/

/*Contenido principal de la pagina*/