@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Nunito", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(150deg, #ff0534, #c501e2);
    height: 100vh;
}

/*Contiene solo H2*/
.Contexto {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;

    width: 100%;
    color: #000;
}

.Contexto h2 {
    margin: 5px;
    padding: 5px;
}


/*Contenido Principal de la pagina*/
.Principal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: border-box;
    height: 500px;
    width: 400px;
    background: #ffffff;
    border-radius: 20px;

    padding: 0;
    margin: 0;
}

.Boton {
    width: 300px;
    height: 40px;
    margin: 20px 10px 0px 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: linear-gradient(150deg, #ff0534, #c501e2);
    color: #ffffff;

    cursor: pointer;
    transition: all 0.5s;
}

.Boton:hover {
    transform: scale(1.1);
    background: #000;
}

.Contenedor input {
    text-align: center;

    background: transparent;
    box-sizing: border-box;
    width: 300px;
    height: 40px;

    margin: 10px;
    padding: 0px;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    font-size: 20px;
    color: #000;
}

.Contenedor input::placeholder {
    color: #000;
}

.Contenedor2 p {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1px;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

.alerta {
    display: flex;
    justify-content: center;
    color: #e9032e;
}

/*
    @media(max-width:991px) {
        body {
            padding: 10px;
        }

        form {
            padding: 20px;
            width: 100%;
        }

        .Contenedor1 {
            position: relative;
            width: 88%;
            margin-bottom: 15px;
        }

        .Contenedor2 {
            position: relative;
            width: 88%;
            margin-bottom: 15px;
        }

        .Contenedor3 {
            position: relative;
            width: 88%;
            margin-bottom: 15px;
        }

        .Contenedor4 {
            position: relative;
            width: 88%;
            margin-bottom: 15px;
        }
    }
    */