@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Nunito", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(150deg, #ff0534, #c501e2);
    height: 100vh;
}

/*Formulario*/

.Contexto {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;

    width: 100%;
    color: #000;
}

.Contexto h2 {
    margin: 5px;
    padding: 5px;
}

.Principal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: border-box;
    height: 400px;
    width: 400px;
    background: #FFFFFF;
    border-radius: 20px;

    padding: 0;
    margin: 0;
}

.Boton {
    width: 300px;
    height: 40px;
    margin: 20px 10px 0px 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: linear-gradient(150deg, #ff0534, #c501e2);
    color: #FFFFFF;

    cursor: pointer;
    transition: all 0.5s;
}

.Boton:hover {
    transform: scale(1.1);
    background: #000000;
}

.Contenedor input {
    text-align: center;

    background: transparent;
    box-sizing: border-box;
    width: 300px;
    height: 40px;

    margin: 10px;
    padding: 0;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    font-size: 20px;
    color: #000000;
}

.Contenedor input::placeholder {
    color: #000000;
}

.Contenedor2 p {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1px;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

.alerta {
    display: flex;
    justify-content: center;
    color: #e9032e;
}

.Correctamente {
    display: flex;
    justify-content: center;
    color: green;
    font-size: 25px;
}