@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Nunito", sans-serif;

    outline: none;
}


body {
    background: #B8BCB9;
    height: auto;
    padding: 0;
    margin: 0;

    min-width: 100%;
}

main
{
    display: flex;
}

/*Primer header*/
.CarWap {
    text-align: center;
    background: #000000;
}

.CarWap h1 {
    padding: 0 50px 0 10px;
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
}

/*Linea de Separacion*/
hr
{
    width: auto;
    height: 2px;

    box-sizing: border-box;
    border: 1px solid;

    margin: 0;
    padding: 0;
}

/*Segundo header*/
.header
{
    display: flex;
    justify-content: center;

    background-color: #6f7357; 

    height: 80px;

    box-sizing: border-box;
    border: 0px solid;

    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: 80px;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

.nav .a
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;

    border: 0 solid;

    outline: none;

    text-decoration: none;

    margin: 0 5px 0 0;
    padding: auto;

    color: #FFFFFF;

    font-size: 17px;

    transition: all 0.3s;
}

.Usuario-Container
{
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.Usuario-Container .a
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;

    border: 0 solid;

    outline: none;

    text-decoration: none;

    margin: 0 5px 0 0;
    padding: auto;

    color: #FFFFFF;

    font-size: 17px;

    transition: all 0.3s;   
}

.a:hover {
    background: #000000;

    transform: scale(1.1);
}

/*Panel Lateral*/
.Panel-Lateral
{
    background: #6f7357;

    width: 25%;
    height: 100%;

    box-sizing: border-box;
    border: 2px solid;
    border-top: 0 solid;
    border-left: 0 solid;

    margin: 0;
    padding: 0;

    overflow: hidden;

    float: left;
}

.Panel-Lateral .ContenidoMarcas
{
    color: #FFFFFF;

    margin: 0;

    display: flex;
    justify-content: center;

    box-sizing: border-box;
    border: 0 solid;
}

.Panel-Lateral .ListaMarcas
{
    width: 100%;
    height: auto;

    padding: 0;
    margin: 10px 0;

    overflow: hidden;
}

.Panel-Lateral .ListaMarcas .Marcas
{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 10px auto;

    width: 95%;
    height: auto;
}

.Panel-Lateral .ListaMarcas .Marcas .LinkMarcas
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;

    color: #FFFFFF;

    font-size: 20px;

    text-decoration: none;

    margin: 0;
    padding: 2px;

    border-radius: 10px;

    transition: all 0.2s;
}

.LinkMarcas:hover
{
    background: #000000;
}

/*Contenido*/
#Product-Contenedor
{
}

.Clase-ProductContenedor
{   
    margin-left: 5px;
    margin-right: 5px;

    width: 74%;

    box-sizing: border-box;
    border: 0 solid;
}

.Product-Item
{
    background: #FFFFFF;

    margin: 10px 0;

    display: flex;

    border-radius: 10px;

    height: 150px;
}

.Product-Item .Product-IMG
{
    margin: auto 15px;

    width: 25%;
    height: 90%;

    border-radius: 10px;
}


/*Footer*/
.footer
{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    margin: 0 auto;

    background: #6f7357;

    overflow: hidden;
}

.DerechosDeAutor
{
    margin: 10px 0;
    display: flex;
    justify-content: center;

    color: #FFFFFF;
}

.UL
{
    list-style: none;

    margin: 0 auto;
    padding: 0;
}

.UL li
{
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;

    margin: 5px 0;
}

.UL a
{ 
    color: #FFFFFF; 
   text-decoration: none;
}

.UL a:hover
{
    color: #759eff;
}

